body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.quiz-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#question-container {
    margin-bottom: 20px;
}

#choices-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

button {
    padding: 17px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;

    margin-top: 30px;
  }

